{% extends "base.html" %}

{% block title %}Painel do Usuário Master{% endblock %}

{% block content %}
<h1>Painel do Usuário Master</h1>
<p>Meta Geral: R$ {{ general_goal | float | currency }}</p>
<p>IDs dos Vendedores:</p>
<ul>
    {% for seller in sellers %}
        <li>
            <a href="{{ url_for('seller_dashboard', seller_id=seller.id) }}">
                ID: {{ seller.id }} - Nome: {{ seller.username }}
            </a>
        </li>
        <br>
    {% endfor %}
</ul>
<p>Implementar funcionalidades de cadastro de metas e upload de planilhas.</p>
<a href="{{ url_for('upload') }}">Upload de Planilha</a><br>
<a href="{{ url_for('set_goals') }}">Definir Metas</a><br>
<a href="{{ url_for('register') }}">Cadastrar Usuário</a><br>
<a href="{{ url_for('logout') }}">Logout</a>
{% endblock %}
