{% extends "base.html" %}

{% block title %}Painel do Vendedor{% endblock %}

{% block content %}
<h1>Painel do Vendedor</h1>
<p>Nome do vendedor: {{username}}</p>
<p>Meta Geral: {{ general_goal | float | currency }}</p>
<p>Meta Individual: {{ individual_goal | float | currency }}</p>
<p>Faturamento Total da Empresa no Mês: {{ total_company_sales | float | currency }}</p>
<p>Faturamento Atual no Mês: {{ total_sales | float | currency }}</p>
<p>Percentual da Meta Individual Atingido: {{ individual_percentage | float | percentage}}</p>
<p>Percentual da Meta Geral Atingido: {{ company_percentage | float | percentage}}</p>
<p>Comissão do Mês: {{ commission | float | currency }}</p>
<p>Bônus do mês: {{ bonus | float | currency }}</p>
<p><em>OBS: Os valores serão atualizados e não são definitivos.</em></p>

{% if user_role == 'master' %}
<a href="{{ url_for('dashboards.dashboard') }}">Voltar</a>
{% elif user_role == 'seller' %}
<a href="{{ url_for('users.logout') }}">Logout</a>
{% endif %}

<h2>Vendas do Mês</h2>
<table border="1">
    <tr>
        <th>Nº Pedido</th>
        <th>Data</th>
        <th>Valor</th>
        {% if user_role == 'master' %}
        <th>Ação</th>
        {% endif %}
    </tr>
    {% for venda in vendas %}
    <tr>
        <td>{{ venda['order_number']  | float | int }}</td>
        <td>{{ venda['date'] }}</td>
        <td>{{ venda['amount'] | float | currency }}</td>
        {% if user_role == 'master' %}
        <td>
            <form action="{{ url_for('sales.delete_sale', sale_id=venda['id']) }}" method="post" style="display:inline;">
                <button type="submit" onclick="return confirm('Tem certeza que deseja deletar esta venda?');">x</button>
            </form>
        </td>
        {% endif %}
    </tr>
    {% endfor %}
</table>

{% if user_role == 'master' %}
<form action="{{ url_for('sales.delete_all_sales', seller_id=user_id) }}" method="post">
    <button type="submit" onclick="return confirm('Tem certeza que deseja deletar todas as vendas deste vendedor?');">Remover Todas as Vendas</button>
</form>
{% endif %}

{% endblock %}